#app {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  border: 2px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/Designer.png'); /* Polku taustakuvaan */
  background-size: cover; /* Kuva täyttää koko taustan */
  background-position: center; /* Kuva keskitetään */
  background-repeat: no-repeat; /* Kuva ei toistu */
}

body {
  background-color: #333; /* Tummanharmaa väri */
  color: white;
}

h1 {
  font-size: 60px;
}

#gamemode {
  padding: 10px; 
  border-radius: 10px; 
  display: inline-block; 
  margin: 10px; 
  transition: box-shadow 0.3s ease-in-out;
}

#gamemode:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

input {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}

#scoreboard {
  padding: 10px; 
  border-radius: 10px; 
  display: inline-block; 
  margin: 10px; 
  transition: box-shadow 0.3s ease-in-out;
  position: absolute;
  top: 1px;
  right: 195px;
  background-color: #333; /* Dark background */
  border: 2px solid #000; /* Dark border */
  height: 75vh; /* Increased height to display all players */
  overflow-y: auto; /* Add scroll if content overflows */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}